{% extends 'base.html.twig' %}

{% block body %}
<div class="container main">

    <div class="row">

        <ul class="pagination center">

            <li class="waves-effect <?php echo $actions; ?>"><a href="studentpanel.php?page=actions">Acties</a>
            </li>
            <li class="waves-effect <?php echo $infofeed; ?>"><a
                        href="studentpanel.php?page=infofeed">Info feed</a></li>
            <li class="waves-effect <?php echo $chat; ?>"><a href="studentpanel.php?page=chat">Chat</a></li>
        </ul>

    </div>
    {% block studentBody %}
    {% endblock %}
</div>
{% endblock %}
