{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 09-12-2018 03:21
 # Licence: GPLv3 - General Public Licence version 3
 #}

{% extends 'Student/StudentBase.html.twig' %}

{# Set the translation domain for this template, you can place the text on this page in ./translations/Student #}
{% trans_default_domain 'student' %}

 {% block StudentContent %}
     <h1>Welcome, Student</h1>
 {% endblock %}
