{% extends 'base.html.twig' %}

{% block body %}
    <div class="container main">

        <div class="row">

            <ul class="pagination center">

                <li class="waves-effect <?php echo $participators; ?>"><a href="docentpanel.php?page=participators">Deelnemers</a>
                </li>
                <li class="waves-effect <?php echo $chatmonitor; ?>"><a
                            href="docentpanel.php?page=chatmonitor">Chatmonitor</a></li>
                <li class="waves-effect <?php echo $eventload; ?>"><a href="docentpanel.php?page=eventload">Event
                        Inladen</a></li>
                <li class="waves-effect <?php echo $sessionload; ?>"><a href="docentpanel.php?page=createsession">Sessie Aanmaken</a></li>
                <li class="waves-effect <?php echo $statsload; ?>"><a href="docentpanel.php?page=loadstats">Statistieken</a></li>
                <li class="waves-effect <?php echo $scenarioupload; ?>"><a href="docentpanel.php?page=scenarioupload">Scenario
                        Uploaden</a></li>
                <li class="waves-effect <?php echo $assignpoints; ?>"><a href="docentpanel.php?page=assignpoints">Punten
                        Toekennen</a></li>
                <li class="waves-effect <?php echo $startscenario; ?>"><a href="docentpanel.php?page=startscenario">Scenario Starten</a></li>

            </ul>

        </div>


        {% block teacherBody %}{% endblock %}

    </div>
{% endblock %}
