{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 20-11-2018 23:45
 # Licence: GPLv3 - General Public Licence version 3
 #
 # The teachers show statistics page
 # ====================================
 # This shows the teacher the statistics of a participators for an given scenario
 #}
{% extends 'teacher/Index.html.twig' %}

{% block TeacherContent %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card medium ">
                <div class="card-content">
                    <span class="card-title">Statistieken ophalen</span>
                    <p>Selecteer hier een sessie waarvoor u de statistieken voor op wil vragen.</p><br>
                    <div class="row">

                        <div class="input-field col s12 m6">

                            <select>
                                <option value="" disabled selected>Selecteer een sessie</option>
                                <option value="1">Klas_IV2A</option>
                                <option value="2">Klas_IV2B</option>
                                <option value="3">Klas_IV2C</option>
                            </select>
                            <label>Selecteer sessie</label>
                        </div>
                    </div>

                    <div class="row">
                        <button class="btn waves-effect orange" type="submit" name="getStats">Opvragen
                            <i class="material-icons right">send</i>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Resultaten</span>

                    <div class="row">
                        <canvas id="myChart"></canvas>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>


    </div>

{% endblock %} {# TeacherContent #}