{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 21-11-2018 00:02
 # Licence: GPLv3 - General Public Licence version 3
 #
 # The teachers index page
 # =======================
 # This page holds the sceleton of the Teacher accessable panels.
 #}
{% extends 'Base.html.twig' %}

{# Get the current requested route #}
{% set route = app.request.get('_route') %}

{# This are all routes from 'config/route/teacher.yaml' #}
{% set teacherRoutes = [
    'teacher_participators',
    'teacher_chatMonitor',
    'teacher_create_event',
    'teacher_create_session',
    'teacher_show_statistics',
    'upload_scenario',
    'teacher_assign_points',
    'teacher_start_scenario'
] %}

{# Set the translation domain for this template, you can place the text on this page in ./translations/teacher #}
{% trans_default_domain 'teacher' %}

{% block body %}
    <div class="container main">
        <div class="row">
            <ul class="pagination center">
                {# Create a link for each teacher route. #}
                {% for teacherRoute in teacherRoutes %}
                    {% set translationLinkKey = 'base.pagination.'~teacherRoute %}
                    <li class="waves-effect {{ teacherRoute in route ? 'active' }}">
                        <a href="{{ path( teacherRoute ) }}">{{ translationLinkKey|trans }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% block TeacherContent %}{% endblock %}

    </div>
{% endblock %}