{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 20-11-2018 22:22
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% for message in messages %}
    {% if message.type == "actor" %}
        <div class="col s10 m8" id="actorMessage">
            <ul class="collection orange lighten-5">
                <li class="collection-item orange lighten-5 avatar hide-on-small-only">
                    <div class="left">
                        <img src="img/$img" alt="" class="circle">
                        <span class="title grey-text">$actor </span>
                        <p class="grey-text">{{ "now"|date("Y-m-d h:i") }}</p>
                    </div>
                </li>
                <li class="collection-item orange lighten-5">
                    <p class="black-text">{{ message.text }}</p>
                </li>
            </ul>
        </div>
    {% elseif message.type == "user" %}
        <div class="col s10 m8 offset-m4 offset-s2" id="userMessage">
            <ul class="collection grey lighten-5">
                <li class="collection-item grey lighten-5 avatar hide-on-small-only">
                    <div class="right">
                        <span class="title grey-text">Gebruiker </span>
                        <p class="grey-text">{{ "now"|date("Y-m-d h:i") }}</p>
                    </div>
                </li>
                <li class="collection-item grey lighten-5">
                    <div class="right">
                        <p class="black-text">{{ message.text }}</p>
                        <br>
                    </div>
                </li>
            </ul>
        </div>
    {% endif %}
{% endfor %}