{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 18-12-2018 16:42
 # Licence: GPLv3 - General Public Licence version 3
 #}
{%- extends "sphinx_rtd_theme/breadcrumbs.html" %}

{% block breadcrumbs_aside %}
{% endblock %}

<script src=""></script>
</body>
</html>