{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 16-11-2018 16:27
 # Licence: GPLv3 - General Public Licence version 3
 #
 # The administrator index page
 # ============================
 # This is the index of the administrator panel.
 #}

{% extends 'Base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col s12 m7">
            <div class="card large">
                <div class="card-content">
                    <span class="card-title">Kaart</span>
                    <div id="map"></div>
                </div>
            </div>
        </div>
        <div class="col s12 m5">
            <div class="card large">
                <div class="card-content">
                    <span class="card-title">Nieuws</span>
                    <div class="card medium">
                        <div class="card-content">
                            <span class="card-title">NOS</span>
                            <p>Dit is even zodat de footer onderaan blijft staan.</p>
                        </div>
                        <div class="card medium">
                            <div class="card-content">
                                <span class="card-title">Frysk nieuws</span>
                                <p>Dit is even zodat de footer onderaan blijft staan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m2">

        </div>
        <div class="col s12 m2">
            <div class="card large">
                <div class="card-content">
                    <span class="card-title">Politie</span>
                    <p>Dit is even zodat de footer onderaan blijft staan.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="card large">
                <div class="card-content">
                    <span class="card-title">Ambulance</span>
                    <p>Dit is even zodat de footer onderaan blijft staan.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="card large">
                <div class="card-content">
                    <span class="card-title">Leger</span>
                    <p>Dit is even zodat de footer onderaan blijft staan.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="card large">
                <div class="card-content">
                    <span class="card-title">Brandweer</span>
                    <p>Dit is even zodat de footer onderaan blijft staan.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m2">

        </div>
    </div>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9kMASRkOAbPFdzd4u5o_F0JyXKieOSQk&callback=initMap">
    </script>
    {# TODO remove this inline script#}
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = {lat: 53.201233, lng: 5.799913};
            // The map, centered at Uluru
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 13, center: uluru});
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({position: uluru, map: map});
        }
    </script>
{% endblock %} {# body #}