{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 20-11-2018 22:24
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% block navigation %}
    <nav class="black" role="navigation">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <a class="btn tooltipped black" data-position="bottom" data-tooltip="joris">
                    <i class="material-icons">{{ 'base.navigation.tooltip.person'|trans }}</i>
                </a>
                <a class="btn tooltipped black" data-position="bottom" data-tooltip="$currentSession">
                    <i class="material-icons">{{ 'base.navigation.tooltip.timer'|trans }}</i>
                </a>
            </ul>
            <a href="./index.php">
                <img class="brand-logo center" alt="Desk CriSim" src="./img/logo.png" style="margin-top: 0.1vh;"></a>
            <ul class='right'>
                $notifyElement
            </ul>
        </div>
    </nav>
{% endblock %} {# navigation #}