{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 20-11-2018 22:25
 # Licence: GPLv3 - General Public Licence version 3
 #}
{% block footer %}
    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col m6 s12">
                    <h5 class="white-text">
                        <i class="material-icons left">info_outline</i>{{ 'link.help'|trans }}
                    </h5>
                    <ul>
                        <li>
                            <a class="white-text left" href="https://github.com/jorisrietveld/DeskCriSim-Backend" target="_blank">
                                <i class="material-icons left">chevron_right</i>{{ 'link.sourcecode'|trans }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <a class="orange-text text-lighten-3">{{ 'copyright.notification'|trans }} &copy; 2018</a>
            </div>
        </div>
    </footer>
{% endblock %} {# footer #}