{#
 # Author: Joris Rietveld <jorisrietveld@gmail.com>
 # Date: 20-11-2018 23:28
 # Licence: GPLv3 - General Public Licence version 3
 #
 # The teachers chat monitor page
 # ==============================
 # This page allows the teacher to view the chat messages from students.
 #}
{% extends 'teacher/Index.html.twig' %}

{% block TeacherContent %}

    <div class="row">
        <div class="col s12 m12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Deelnemende actoren</span>
                    <ul class="pagination center">


                        {#<?php#}
                        {#$actors = ["Politie", "Ambulance", "Brandweer", "Leger", "Burgermeester"];#}

                        {#foreach ($actors as $actor) {#}
                        {#$active = "";#}

                        {#if (isset($_GET['actor'])) {#}


                        {#$pageActive = $_GET['actor'];#}

                        {#if ($pageActive == $actor) {#}
                        {#$active = "active";#}
                        {#}#}
                        {#} else {#}
                        {#if ($actor == $actors[0]) {#}
                        {#$active = "active";#}
                        {#}#}
                        {#}#}

                        {#echo "<li class=\"waves-effect $active\"><a href=\"docentpanel.php?page=chatmonitor&actor=$actor\">$actor</a></li>";#}
                        {#}#}

                        {#?>#}

                    </ul>


                </div>
            </div>
        </div>
    </div>

    <!-- Chat Monitoring -->

    <div class="row">

        <div class="col s12 m12">

            <div class="card">

                <div class="card-content">

                    <div class="card-title">
                        <p>Chatberichten</p>
                    </div>

                    {% for message in messages %}

                        <div class="row">
                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <img src="{{ asset('build/static/ambulance.png') }}" class="circle">
                                </li>
                                <span class="title grey-text">{{ message.actor }}</span>
                                <p class="black-text">{{ message.text }} <br>
                                <p class="grey-text">{{ message.time }} <br>
                                </p>
                            </ul>


                        </div>


                    {% endfor %}

                    {#<?php#}

                    {#$i = 0;#}

                    {#$actorToShow = "Politie";#}


                    {#if (isset($_GET['actor'])) {#}


                    {#$actorToShow = $_GET['actor'];#}
                    {#}#}

                    {#while ($i < 9) {#}

                    {#echo "    <ul class=\"collection\">#}


                    {#<div class=\"row\">#}
                    {#<li class=\"collection-item avatar\">#}

                    {#<div class=\"left\">#}

                    {#<img src=\"img/police.png\" alt=\"\" class=\"circle\">#}
                    {#<span class=\"title grey-text\">$actorToShow naar Ambulance</span>#}
                    {#<p class=\"grey-text\">19-11-2018 <br>#}
                    {#14:32#}
                    {#</p>#}

                    {#</div>#}

                    {#<div class=\"right\">#}
                    {#<p class=\"black-text\">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed#}
                    {#do#}
                    {#eiusmod tempor#}
                    {#incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis#}
                    {#nostrud#}
                    {#exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>#}
                    {#<p class=\"black-text\">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed#}
                    {#do#}
                    {#eiusmod tempor#}
                    {#incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis#}
                    {#nostrud#}
                    {#exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>#}
                    {#</div>#}


                    {#</li>#}
                    {#</div>#}

                    {#</ul>";#}

                    {#$i++;#}

                    {#}#}

                    {#?>#}


                </div>

            </div>

        </div>

    </div>
{% endblock %} {# TeacherContent #}